body {
    background-color: black;
}

.App input {
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.App input:active {
    background-color: purple;
}

.App p {
    line-height: 0.3;
}
